@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Montserrat:wght@400;500;700&display=swap');

#name {
  font-family: 'Gotu', sans-serif;
  font-size : 2em;
}


nav a {
  font-family: 'Montserrat';
  font-weight : 700;
}


.phraseintro{
font-family: 'Montserrat';
font-weight: 500;
font-size: 2em;
}


.presentation {
  font-family: 'Montserrat';
  font-size: 1em;
}

h1 {
  font-family: 'Montserrat';
  font-size: 2em;
  font-weight : 700;
  margin-bottom: 1.25em;
}

.menu-toggle {
  font-size: 3em;
}

h2 {
  font-family: 'Montserrat';
  font-size: 0.5em;
  font-weight : 700;
}

p {
  font-family: 'Montserrat';
  font-weight: 500;
}

.photo-feature h2 {
  font-family: 'Montserrat';
  font-size: 2em;
  font-weight : 700;
  margin-bottom: 1.25em;
}

.photo-feature a {
  font-family: 'Montserrat';
  font-size: 1em;
}

#contacts {
    font-family: 'Montserrat';
    font-weight: 500;
}


#contacts h1 {
  font-family: 'Gotu';
  font-size: 5em;
  line-height: 1px;
}


#texttruck h1 {
 font-size: 1.5em;
}

.back {
  font-family: 'Gotu';
  font-size: 1em;
}
